table, th, td, tr {
    border: 1px solid black; 
    text-align: center;
    font-size: 18px;
    width: 300px;
    
}
main{
    font-family: 'Playball', cursive;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}
header {
    text-align: center;
    font-size: 35px;
    padding-top: 15px;

}
.topnav-centered {
   
    top: 0;
    left: 0;
    color: rgb(248, 246, 242);
    text-align: center;
    font-size: 27px;
    border: 1px solid rgb(236, 174, 184);
    width: 100%;
    background-color: rgb(236, 174, 184);
}
.topnav-centered a,
.topnav-centered a:visited{
    color: rgb(73, 73, 209);
    margin: 15px;
}

*{
    background-color: rgb(236, 174, 184);
    
}
footer {
    text-align: center;
    color: rgb(214, 99, 170);
}

img {
    padding-right: 80px;
}